@{
    ViewBag.Title = "עמוד צור קשר";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br/>
<address>
    כתובתינו: התע"ש 10 רמת גן"<br />
    <abbr title="Phone">טלפון :</abbr>
    03-4894848
</address>

<address>
  <strong>>תמיכה:</strong>   <a href="mailto:Support@emx.com">Support@emx.com</a><br />
  <strong>שיווק והפצה:</strong> <a href="mailto:Marketing@emx.com">Marketing@emx.com</a>
</address>

<label>נושא הפנייה: </label>
<select>
  <option id="1" value="" selected="selected"></option>
  <option id="2" value=""></option>
  <option id="3" value=""></option>
</select>

<label>תוכן הפנייה: </label>
<textarea></textarea>
<input type="submit" value="שלח"/>